<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn page</title>
</head>
<body>
    <form method="post" action="{% url 'signIn' %}">
    {% csrf_token %}
    <label for="name">UserName:</label>
    <input type="text" id ="name" name="username">
    <br>
    <br>
    <label for="pswd">Password:</label>
    <input type="password" id ="pswd" name="password">
    <br>
    <br>
    <input type="submit" value="submit">
    </form>
</body>
</html>