/* General styles */
body {
    font-family: Arial, sans-serif; /* Standard font */
    margin: 0;
    padding: 0;
    background-color: #94e6ec; /* Light background color */
    color: #0b0eea; /* Neutral text color for good readability */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align all content */
    justify-content: center;
    min-height: 100vh; /* Full height */
}
h1 {
    
}